<%#= form_with model:[@studio, @space], local: true do |f| %>

<%= form_with model: @space_form, url: url, method: method, id: 'new-space', local: true do |f| %>
<div class='error-messages-div'>
  <%= render 'shared/error_messages', model: @space_form %>
</div>
<div class='form-div'>
  <div class='form-div-label'>
    <label>部屋名</label>
    <span class='indispensable'>必須</span>
  </div>
  <div class='form-input-div'>
    <%= f.text_field :space_name, id:"space-name", placeholder:"練習スタジオ", class:"form-input-field"%>
  </div>
</div>
<div class='form-div'>
  <div class='form-div-label'>
    <label>部屋名(かな)</label>
    <span class='indispensable'>必須</span>
  </div>
  <div class='form-input-div'>
    <%= f.text_field :space_name_kana, id:"space-name-kana", placeholder:"れんしゅうすたじお",  class:"form-input-field"%>
  </div>
</div>
<div class='form-div'>
  <div class='form-div-label'>
    <label>部屋紹介文</label>
    <span class='indispensable'>必須</span>
  </div>
  <div class='form-input-div'>
    <%= f.text_area :info, id:"info", placeholder:"スペース紹介文(必須 99文字まで)", maxlength:"99", class:"form-input-field"%>
  </div>
</div>
<div class='form-div'>
  <div class='form-div-label'>
    <label>部屋寸法 幅(m) × 奥行き(m) × 高さ(m)</label>
    <span class='indispensable'>必須</span>
    <p>(小数第2位まで記入)</p>
  </div>
  <div class='form-input-div'>
    <%= f.number_field :length, step: '0.01', min: 0, max: 2500, placeholder:'10.7', id:"length", class:"form-input-field-mini"%>m
    ×
    <%= f.number_field :width, step: '0.01', min: 0, max: 2500, placeholder:'8.2', id:"width", class:"form-input-field-mini"%>m
    ×
    <%= f.number_field :height, step: '0.01', min: 0, max: 2500, placeholder:'3.5', id:"height", class:"form-input-field-mini"%>m
  </div>
</div>
<div class='form-div'>
  <div class='form-div-label'>
    <label>部屋面積(&#13217)</label>
    <span class='indispensable'>必須</span>
    <p>(小数第2位まで記入)</p>
  </div>
  <div class='form-input-div'>
    <%= f.number_field :size, step: '0.01', min: 0, max: 2500, placeholder:'87.74', id:"size", class:"form-input-field"%>
  </div>
</div>
<div class='form-div'>
  <div class='form-div-label'>
    <label>使用料金(朝) (1時間あたり)</label>
    <span class='indispensable'>必須</span>
  </div>
  <div class='form-input-div'>
    <%= f.number_field :fee_morning, step: '1', min: 0, max: 200000000, id:"fee-morning", placeholder:"例）1500", class:"form-input-field"%>
  </div>
</div>
<div class='form-div'>
  <div class='form-div-label'>
    <label>使用料金(昼) (1時間あたり)</label>
    <span class='indispensable'>必須</span>
  </div>
  <div class='form-input-div'>
    <%= f.number_field :fee_day, step: '1', min: 0, max: 200000000, id:"fee-day", placeholder:"例）2000", class:"form-input-field"%>
  </div>
</div>
<div class='form-div'>
  <div class='form-div-label'>
    <label>使用料金(夜) (1時間あたり)</label>
    <span class='indispensable'>必須</span>
  </div>
  <div class='form-input-div'>
    <%= f.number_field :fee_night, step: '1', min: 0, max: 200000000, id:"fee-night", placeholder:"例) 3000", class:"form-input-field"%>
  </div>
</div>
<div class='form-div'>
  <div class='form-div-label'>
    <label>部屋画像</label>
    <span class='indispensable'>必須</span>
    <p>クリックして画像(png,jpg)をアップロード</p>
  </div>
  <div class='form-input-div'>
    <%= f.file_field :image, id:"image" %>
  </div>
</div>
<%= f.submit "登録", id:"button", class:"form-submit-btn-manager"%>
<% end %>
