<%= render "shared/second-header" %>
<div class='body'>
  <div class='content'>
    <h2 class='studio-name-title'><%=link_to "#{@studio.manager.studio_name} (#{@studio.manager.studio_name_kana})", studio_path(@studio.id) %></h2>
    <%#ナビゲーションバー開始%>
    <div class='navbar'>
      <ul class='nav-lists'>
      <%= link_to(studio_path(@studio.id), class:"nav-list-deco-none") do%>
      <li class='inactive'>スタジオ情報</li>
      <% end %>
      <%= link_to(studio_spaces_path(@studio.id), class:"nav-list-deco-none") do%>
      <li class='active'>部屋</li>
      <% end %>
      <%= link_to("#", class:"nav-list-deco-none") do%>
      <li class='inactive'>お知らせ</li>
      <% end %>
      <%= link_to("#", class:"nav-list-deco-none") do%>
      <li class='inactive'>地図</li>
      <% end %>
      <%= link_to("#", class:"nav-list-deco-none") do%>
      <li class='inactive'>レビュー</li>
      <% end %>
      </ul>
    </div>
    <%#ナビゲーションバー終了%>

    <h3 class='spaces-list-title'>部屋一覧</h2>
    <div class='spaces-list'>
      <% if @studio.spaces.empty? %>
        <p class='space-empty-alert'>部屋の登録がされていません。スタジオ管理者にお問い合わせください。</p>
      <% else %>
        <%= render partial: 'space', collection: @studio.spaces %>
      <% end %>
    </div>

    <div class='nav-btn'>
      <% if manager_signed_in? && @studio.manager.id == current_manager.id%>
        <%= link_to "部屋の新規登録", new_studio_space_path(@studio.id),  class: "space-new-btn" %>
      <% end %>
    </div>
  </div>
</div>



<p><%= link_to "スペース新規登録", new_studio_space_path(@studio.id), class: :nav__btn %></p>
<p><%= link_to "スタジオに戻る", studio_path(@studio.id), class: :nav__btn %></p>
