<h1>Reservation#index</h1>
<p>Find me in app/views/reservation/index.html.erb</p>


<%#= form_with model:[@studio, @space], local: true do |f| %>

<%= form_with model: @reservation_form, url: studio_space_reservations_path, id: 'reservation-form', local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>


<div>使用開始時刻</div>
<%= f.datetime_field :time_start, id:"time-start", min: Date.today, max: DateTime.now + 3 * 30 %>
<div>使用終了時刻</div>
<%= f.datetime_field :time_end, id:"time-start", min: Date.today,  max: DateTime.now + 3 * 30 %>
<div>値段</div>
<%= f.number_field :price, step: '1', min: 50, max: 9999999, id:"price", placeholder:"例）2400"%>

  <div class='form-wrap'>
    <%= f.label :number,  "カード番号" %>
    <%= f.text_field :number, class:"number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
  </div>
  <div class='form-wrap'>
    <%= f.label :cvc ,"CVC" %>
    <%= f.text_field :cvc, class:"cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"4" %>
  </div>
  <div class='form-wrap'>
    <p>有効期限</p>
    <div class='input-expiration-date-wrap'>
      <%= f.text_field :exp_month, class:"exp_month", placeholder:"例)3" %>
      <p>月</p>
      <%= f.text_field :exp_year, class:"exp_year", placeholder:"例)25" %>
      <p>年</p>
    </div>
  </div>




<%= f.submit "登録", id:"button_reservation"%>
<% end %>