<%= form_with model: @studio, local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>
<div>紹介文</div>
<%= f.text_area :introduction, id:"introduction", placeholder:"紹介文(必須 140文字まで)", maxlength:"140"%>
<div>郵便番号</div>
<%= f.text_field :postal_code, id:"postal-code", placeholder:"例)123-4567", maxlength:"8"%>
<div>都道府県</div> <%#直す%>
<%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"},{id:"prefecture"})%>

<div>市区町村</div>
<%= f.text_field :city, id:"city", placeholder:"豊島区"%>
<div>それ以降の住所</div>
<%= f.text_field :address, id:"address", placeholder:"東池袋1-1-59"%>
<div>アクセス</div>
<%= f.text_field :access, id:"access", placeholder:"JR池袋駅北口から徒歩2分"%>
<div>営業日</div>
<%= f.collection_check_boxes(:business_day, BusinessDay.all, :id, :name, {},{id:"business-day-id"})%>
<div>営業開始時間</div>
<%= f.time_field :business_hours_start, id:"business-hours-start"%>
<div>営業終了時間</div>
<%= f.time_field :business_hours_end, id:"business-hours-end"%>
<div>電話番号</div>
<%= f.text_field :phone_number, id:"phone-number", placeholder:"例)09012345678", maxlength:"11"%>
<br/>
<%= f.submit "登録", id:"button"%>
<% end %>