<%= render "shared/second-header" %>

<h2>スタジオ詳細だよ</h2>


  <div>
    <p>登録情報はこちらです</p>
    <p>スタジオ名</p><%= @studio.manager.studio_name %>
    <p>スタジオ名(かな)</p><%= @studio.manager.studio_name_kana%>
    <%= @studio.attributes %>><br/>

    <% @studiobday.each do |bday| %>
      <%= Bday.find(bday.bday_id).bday %>
    <% end %>
    <%= @studio.prefecture.name%><br/>
    <%= image_tag @studio.image, class: 'studio-image' if @studio.image.attached? %>
    <%= link_to "編集したい？", edit_studio_path(@studio.id) %>
    <p><%= link_to "スペース見てみよう", studio_spaces_path(@studio.id), class: :nav__btn %></p>
  </div>



