<%= render "shared/second-header" %>

<h2>マイページだよ</h2>




<% if current_manager.studio == nil%>
  <span>nilだって</span>
  <p><%= link_to "スタジオ新規登録", new_studio_path, class: :nav__btn %></p>
<% else %>
  <span>nilじゃないって</span>
  <div>
    <p>登録情報はこちらです</p>
    <p>スタジオ名</p><%= current_manager.studio_name %>
    <p>スタジオ名(かな)</p><%= current_manager.studio_name_kana%>
    <% @studio.attributes.each do |attr_name, value|%>
    <%= attr_name %>
    <%= value%><br/>
    <% end %>
    <%= link_to "編集したい？", edit_studio_path(@studio.id) %>
  </div>
<% end %>